#content {
    margin-top: 20px;
}

.bg-dark {
    background-color: #607788 !important;;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #607788;
    border-color: #607788;
}

.list-group-item.list-group-item-primary {
    background-color: #92A9BA;
}

.btn-primary {
    color: #fff;
    background-color: #607788;
    border-color: #607788;
}

.card {
    border-color: #607788;
}